*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header>h4{
    margin-left: 25px;
    margin-top: 10px;
}
.main1{
    display: flex;
    justify-content: space-between;
}
nav>ul{
    list-style-type: none;
    display: flex;
    justify-content: right;
     text-align: right; 
     margin-right: 25px;
     margin-top: 10px;
}
nav>ul>li>a{
     text-decoration: none;
    color: black;
    margin: 10px;
}
.company{
    width: 100%;
    margin-left: 0px;
}
hr{
    width: 77%;
    margin-left: 120px;
    margin-top: 10px;
} 
.pricing1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 200%;
}
p{
    text-align: center;
   margin: 0% 25%;
    padding: 2px;
} 
.para{
    text-align: center;
    font-size: 100%;
    width: 55%;
    margin: 0% 24%;
    padding: 3px;
}
h1{
    text-align: center;
    margin: 5px;
    padding: 0px;
}
span{
    color: gray;
    margin: 7px;
}
.main2{
    display: flex;
}
 .free, .pro, .enter{
     display: inline-block;
    width: 29%;
    margin: 19px;
} 
.free,.pro,.enter{
    border: 1px solid;
    padding: 0px;
}
h4{
    text-align: center;
    font-size: 135%;
}
.free p{
    text-align: center;
    margin: 5px;
}
.pro p{
    text-align: center;
    margin: 5px;
}
.enter p{
    text-align: center;
    margin: 5px;
}
h4.hfree{
    border-bottom: 1px solid black;
    margin-top: 0px;
    margin: 200x;
    padding: 5px;
    background-color: #F7F3F3;
}
button{
    margin: 10px 10px 10px;
    width:93%;
    color:#428BEB;
    border: #428BEB solid;
    height: 36px;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
}          
button.get{
    margin: 10px 10px 10px;
    width:93%;
    color:white;
    border: #428BEB solid;
    height: 36px;
    border-radius: 4px;
    padding: 5px 10px;
    background-color:#428BEB;
} 
.pro>button.get{
    width: 93%;
}
.foot1{
    margin: 20px 120px 10px;
    color: #ACA8A8;
}
.mart{
    display: flex;
    justify-content: flex-start;
}
.main2{
    width: 80%;
    margin-left: 10%;
}
.main3{
    display: flex;
    margin-top: 15px;
    margin-left: -30px;
}  
.feature>ul, .resource>ul, .about>ul{
    list-style-type: none;
    color: #ACA8A8;
    width: 150%;
}
.feature {
    margin-left: 30px;
}
.feature h2{
    margin-left: 2px;
}
.feature>ul>li{
    padding: 3px;
}
.resource{
    float: right;
    margin-left: 120px;
}
.resource h1{
    margin-left: -30px;
}
    .resource>ul>li{
        padding: 2px;
    }
 .about{
    margin-left: 25%;
}
.about h1{
    margin-left: 5px;
}
.about>ul>li{
    margin-left: 0px;
    padding: 2px;
}